/*mobile design - default*/
body {
    style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.content {
    margin: 150px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    text-align: center;
}

.header > p {
    margin-top: 10px;
    font-size: 23px;
}

header {
    font-size: 28px;
}

.logo {
    padding: 40px 0px 20px 0px;
    text-align: center;
}

img {
    width: 30%;
    style: none;
}

.form {
    display: none;
    grid-template-columns: 2fr;
    width: 80%;
}


.form-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 0px 0px;
    gap: 30px;
}


.collection {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 20px 30px 20px 30px;
}

.card-left {
    flex: 1;
}

.card-right {
    flex: 1;
}


input {
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid black;
}



button {
    flex: 1;
    border-radius: 12px;
    font-size: 15px;
    border: 1px solid grey;
    padding: 10px 20px 10px 20px;
}

